apiVersion: apps/v1
kind: Deployment
metadata:
  name: ptp-operator
  namespace: openshift-ptp
spec:
  template:
    spec:
      containers:
        - name: ptp-operator
          env:
            - name: OPERATOR_NAME
              value: "ptp-operator"
            - name: RELEASE_VERSION
              value: "v4.11.0"
            - name: LINUXPTP_DAEMON_IMAGE
              value: "quay.io/openshift/origin-ptp:4.11"
            - name: KUBE_RBAC_PROXY_IMAGE
              value: "quay.io/openshift/origin-kube-rbac-proxy:4.11"
            - name: SIDECAR_EVENT_IMAGE
              value: "quay.io/openshift/origin-cloud-event-proxy:4.11"