apiVersion: v1
kind: Namespace
metadata:
  name: openshift-ptp
  labels:
    security.openshift.io/scc.podSecurityLabelSync: "false"
    pod-security.kubernetes.io/audit: "privileged"
    pod-security.kubernetes.io/enforce: "privileged"
    pod-security.kubernetes.io/warn: "privileged"
    name: openshift-ptp
    openshift.io/cluster-monitoring: "true"
  annotations:
    workload.openshift.io/allowed: management
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ptp-operator
  namespace: openshift-ptp
spec:
  replicas: 1
  selector:
    matchLabels:
      name: ptp-operator
  template:
    metadata:
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
        service.beta.openshift.io/serving-cert-secret-name: webhook-server-cert
      labels:
        name: ptp-operator
        role: ptp
    spec:
      nodeSelector:
        node-role.kubernetes.io/master: ""
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      serviceAccountName: ptp-operator
      priorityClassName: "system-node-critical"
      containers:
        - name: ptp-operator
          # Replaces this with the image name
          image: controller
          command:
          - ptp-operator
          args:
          - --enable-leader-election
          - --logtostderr
          - --stderrthreshold=INFO
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 50m
              memory: 100Mi
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: $OPERATOR_NAME
            - name: RELEASE_VERSION
              value: $RELEASE_VERSION
            - name: LINUXPTP_DAEMON_IMAGE
              value: $LINUXPTP_DAEMON_IMAGE
            - name: KUBE_RBAC_PROXY_IMAGE
              value: $KUBE_RBAC_PROXY_IMAGE
            - name: SIDECAR_EVENT_IMAGE
              value: $SIDECAR_EVENT_IMAGE
            - name: CLUSTER_NAME
              value: $CLUSTER_NAME
