apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: nodeptpdevices.ptp.openshift.io
spec:
  group: ptp.openshift.io
  names:
    kind: NodePtpDevice
    listKind: NodePtpDeviceList
    plural: nodeptpdevices
    singular: nodeptpdevice
  scope: ""
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: NodePtpDevice is the Schema for the nodeptpdevices API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: NodePtpDeviceSpec defines the desired state of NodePtpDevice
          type: object
        status:
          description: NodePtpDeviceStatus defines the observed state of NodePtpDevice
          properties:
            devices:
              description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                of cluster Important: Run "operator-sdk generate k8s" to regenerate
                code after modifying this file Add custom validation using kubebuilder
                tags: https://book-v1.book.kubebuilder.io/beyond_basics/generating_crd.html'
              items:
                properties:
                  name:
                    type: string
                  profile:
                    type: string
                type: object
              type: array
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
