---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: daemonsets-manager-role
  namespace: openshift-ptp
rules:
- apiGroups:
  - apps
  resources:
  - daemonsets
  verbs:
  - get
  - list
  - watch
  - update
  - patch