name: Deploy Operator Images to GHCR
env:
  DOTNET_VERSION: '6.0.x'
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
      push-operator-image:
        runs-on: ubuntu-latest
        permissions:
          packages: write
          contents: read
        defaults:
          run:
            working-directory: '.'
        env:
          CONTAINER_TOOL: docker
          IMG : ghcr.io/${{ github.repository }}
          VERSION: latest
        steps:
          - name: 'Checkout GitHub Action'
            uses: actions/checkout@main

          - name: 'Login to GitHub Container Registry'
            uses: docker/login-action@v1
            with:
              registry: ghcr.io
              username: ${{github.actor}}
              password: ${{secrets.GITHUB_TOKEN}}

          - name: 'Build Operator Image'
            run: |
              make docker-build
              make docker-push

